@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: "Roboto", sans-serif !important;
  background-color: #fdfdfd !important;
}

.profile-font-color {
  color: #333 !important;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/showcase.jpg") no-repeat;
  /* Picture by Annie Spratt */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}
/* ====NAVBAR==== */
.bg-raspberry {
  background-color: #ed2d6c !important;
}

/* ========= VERTICALLY CENTERDING A DIV.CONTAINER =========*/
.vertical-center {
  min-height: 60% !important; /* Fallback for browsers do NOT support vh unit */
  min-height: 60vh !important; /* These two lines are counted as one :-)       */

  display: flex !important;
  align-items: center !important;
}

/* ========= LANDING BUTTONS =========*/
#landing-button-signup {
  background: #ed2d6c;
  height: 3.3em;
  line-height: 3.3em;
  padding: 0 3em;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none !important;
  border: 1px solid #ed2d6c;
  border-radius: 0.5em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

#landing-button-login {
  background: #dd6a90;
  height: 3.3em;
  line-height: 3.3em;
  padding: 0 3em;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none !important;
  border: 1px solid #dd6a90;
  border-radius: 0.5em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}

#landing-button-form {
  background: #ed2d6c;
  height: 2.8em;
  line-height: 2.8em;
  padding: 0 3em;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none !important;
  border: 1px solid #ed2d6c;
  border-radius: 0.5em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
}
#landing-button-form:hover,
#landing-button-form:active,
#landing-button-form:focus {
  background: #dd6a90;
}

/* ========= FORM =========*/

.form-shadow {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;
}

/* ========= PROFILE BADGES =========*/

.badgescard,
.firstinfo {
  display: flex;
  justify-content: center;
  align-items: center;
}
html {
  height: 100%;
}

.cardProfileItem {
  width: 750px;
  min-height: 165px;
  padding: 20px;
  border-radius: 3px;
  background-color: #fdfdfd;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}
.cardProfileItem:after {
  content: "";
  display: block;
  width: 190px;
  height: 300px;
  background: #ed2d6c;
  position: absolute;
  animation: rotatemagic 0.75s cubic-bezier(0.425, 1.04, 0.47, 1.105) 1s both;
}
.firstinfo {
  flex-direction: row;
  z-index: 2;
  position: absolute;
}
.firstinfo img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.firstinfo .profileinfo {
  padding: 0px 20px;
}
.firstinfo .profileinfo h1 {
  font-size: 1.8em;
  text-transform: uppercase;
}
.firstinfo .profileinfo h3 {
  font-size: 1.2em;
  color: #009688;
  font-style: italic;
}
.firstinfo .profileinfo p.bio {
  padding: 10px 0px;
  color: #5a5a5a;
  line-height: 1.2;
  font-style: initial;
}
@keyframes animatop {
  0% {
    opacity: 0;
    bottom: -500px;
  }
  100% {
    opacity: 1;
    bottom: 0px;
  }
}
@keyframes animainfos {
  0% {
    bottom: 10px;
  }
  100% {
    bottom: -42px;
  }
}
@keyframes rotatemagic {
  0% {
    opacity: 0;
    transform: rotate(0deg);
    top: -24px;
    left: -253px;
  }
  100% {
    transform: rotate(-30deg);
    top: -24px;
    left: -78px;
  }
}
